<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jarvis</title>
    </head>
    <body>
        <h1>Jarvis Demo</h1>
        <button id="startButton">Start Listening</button>
        <button id="stopButton">Stop</button>
        <p id="output">Your transcript shows here....</p>
        <div id="chatbox"></div>

        <script>
            const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

            if (!SpeechRecognition) {
                alert("Your browser does not support the API");
            } else {
                const recognition = new SpeechRecognition();
            

                // Config
                recognition.continuous = true;
                recognition.interimResults = true;
                recognition.lang = 'en-US';

                const startButton = document.querySelector('#startButton');
                const stopButton = document.querySelector('#stopButton');
                const output = document.querySelector('#output');

                startButton.addEventListener('click', () => {
                    recognition.start();
                    output.innerText = "Listening";
                });

                stopButton.addEventListener('click', () => {
                    recognition.stop();
                });

                // Handle the transcription
                let prompt = '';

                recognition.onresult = (event) => {

                    let finalTranscript = '';

                    // Loop through
                    for (let i = event.resultIndex; i < event.results.length; i++) {
                        const transcript = event.results[i][0].transcript;
                        if (event.results[i].isFinal) {
                            //prompt += transcript + ' ';
                            finalTranscript += transcript + ' ';
                        }
                        
                    }

                    if (finalTranscript) {
                        prompt = finalTranscript;
                        output.innerText = finalTranscript;
                    }
                };
                recognition.onerror = (event) => {
                    console.error("Speech recognition error", event.error);
                };
                console.log(prompt);
                stopButton.addEventListener("click", async function() {
                    const response = await fetch("/prompt", {
                        method: "POST",
                        body: prompt
                    });
                    const data = await response.text();
                    document.querySelector('#chatbox').textContent = data;
                });
            }
        </script>
    </body>

</html>